* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
}

h1 {
    font-size: 3rem;
    letter-spacing: 1rem;
}

input {
    width: calc(100% - 25px);
    padding: 25px 15px;
    border: none;
    border-radius: 5px;
    font-size: 1.3rem;
    outline: none;
    background: none;
    font-weight: 700;
}

button {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    width: 25px;
    height: 25px;
}

button.circle {
    border-radius: 50%;
    border: solid 1px hsl(236, 9%, 61%);
}

button.circle:hover {
    border: solid 1px hsl(220, 98%, 61%);

}

/* button.circle.checked {
    background: url(images/icon-check.svg) no-repeat center,
        linear-gradient(to bottom right, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
} */

.item:hover>button.delete {
    background: url(images/icon-cross.svg) no-repeat center;

}

/* DARK THEME */
.dark-theme {
    background-color: hsl(235, 21%, 11%);
    color: hsl(234, 39%, 85%);
}

.dark-theme .header-image {
    background-image: url(images/bg-desktop-dark.jpg);
}

.dark-theme input {
    background-color: hsl(235, 24%, 19%);
}

.dark-theme .app div:first-child,
.dark-theme .items div,
.dark-theme .controls {
    background-color: hsl(235, 24%, 19%);
}

/* LIGHT THEME */
.light-theme {
    background-color: hsl(236, 33%, 92%);
    color: hsl(235, 19%, 35%);
}

.light-theme h1 {
    color: hsl(0, 0%, 100%);
}

.light-theme .header-image {
    background-image: url(images/bg-desktop-light.jpg);
}

.light-theme .app div:first-child,
.light-theme .items div,
.light-theme .controls {
    background-color: hsl(0, 0%, 98%);
}

.dark-theme .header-image,
.light-theme .header-image {
    height: 40vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.dark-theme .controls,
.dark-theme .information {
    color: hsl(236, 9%, 61%);
}



.main {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
}

.container {
    width: 40%;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
}

.change-theme {
    width: 30px;
    cursor: pointer;
}

.app {
    font-weight: 700;
}





.app div:first-child,
.items div,
.controls {

    width: 100%;
    height: 85px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.add-item {
    border-radius: 5px;
}

.items {
    margin-top: 30px;
}

.item:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.item {
    margin: 2px 0;
}

.item p {
    margin-left: 15px;
    cursor: pointer;
    width: calc(100% - 25px - 25px);
}

.controls {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.controls p:nth-child(2) span {
    margin: 0 10px;
}

.information {
    text-align: center;
    margin: 40px 0;
}

.dark-theme .item.active {
    color: hsl(235, 19%, 35%);
}

.light-theme .item.active {
    color: hsl(234, 39%, 85%);
}

.item.active {
    text-decoration: line-through;
}

.item.active .circle {
    background: url(images/icon-check.svg) no-repeat center,
        linear-gradient(to bottom right, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}